{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <h1>Ajouter une nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_client_index') }}">Retour à l'index</a>
{% endblock %}
