<form style="display:inline;" method="post" action="{{ path('app_contrat_delete', {'id': contrat.id}) }}" onsubmit="return confirm('⚠️  Êtes-vous sûr de supprimer cela ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
