{% extends 'base.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}
    <h1>Créer une nouvelle facture</h1>

    {{ include('facture/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_facture_index') }}">Retour à la liste</a>
{% endblock %}
